.PosterBack {
    background-color: #8e4c4cad;
    width: 250px;
    height: 440px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
    padding: 10px;
    margin: 20px;
    box-shadow: 0px 0px 10px 1px rgb(47, 47, 47);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s;
    transform-origin: 50% 50%;

}

.PosterBack:hover {
    transform: scale(1.05);

}

.PosterImage {
    width: 250px;
    border-radius: 15px;
}

.PosterTitle {
    color: #EAEFEF;
    margin: 0px;
    margin-top: 10px;

}

.PosterYear {
    color: #EAEFEF;
    margin: 5px;

}

.PosterRating {
    color: #EAEFEF;
    margin: 5px;
}

.PosterYearRating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.MovieRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 120px;
}

.YellowStar{
    color: yellow;
}
.GrayStar
{
    color: rgb(195, 195, 195);
}