/* .MainBottomPult {
    
    /* position: fixed;
    bottom: 0; 
    width: 100%;
    height: 100px;
    background-color: #181818f5;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: Poppins, sans-serif;
} */

.MainBottomPult {
    height: 100px;
    width: 100%;
    background-color: #181818f5;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: Poppins, sans-serif;
}

.SongImg {
    width: 80px;
    height: 80px;
    border-radius: 5%;
    margin-left: 20px;
}

.CollumnInRow2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Row1 {
    /* background-color: antiquewhite; */
    width: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;

}

.Row2 {
    /* background-color: antiquewhite; */
    width: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.Row2Buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.TimeDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #9a9a9a;
    margin: 0px;

    font-size: 14px;
}

.Row3 {
    /* background-color: antiquewhite; */
    width: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 20px;
    margin-right: 20px;
}

.SongImg1 {
    width: 25px;
    height: 25px;
    border-radius: 20%;
    margin-left: 5px;
    background-image: url("/imgs/free-icon-heart-1077035.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.SongImgtrue {

    width: 25px;
    height: 25px;
    background-image: url("/imgs/free-icon-heart-1077086.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.SongImgfalse {

    width: 25px;
    height: 25px;
    background-image: url("/imgs/free-icon-heart-1077035.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.ArtistName {
    color: #9a9a9a;
    font-size: 14px;
}

.blursvg {
    margin: 5px;
    width: 60px;
    height: 60px;
    backdrop-filter: blur(17px);
    border-radius: 35px;


}

.blursvg1 {
    margin: 5px;
    width: 50px;
    height: 50px;
    backdrop-filter: blur(17px);
    border-radius: 35px;


}

.blursvg2 {
    margin: 5px;
    width: 60px;
    height: 40px;
    backdrop-filter: blur(17px);
    border-radius: 15px;
}



.blurrec {
    stroke: url(#myGradient);
    stroke-width: 2px;
    fill: none;
}

.ButtonPlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.ButtonNextPrev {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.PositionDiv {
    position: relative;
    margin: 0px;
    padding: 0px;
    display: flex;
    /* background-color: turquoise; */
    justify-content: center;
    align-items: center;
}

.ImgIcon {
    width: 20px;
    height: 20px;
    background-image: url(../../public/imgs/playicon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.Range {
    width: 100px;
    height: 5px;
    /* background-color: #ffffff; */
    border-radius: 5px;
    appearance: none;
    outline: none;
    border: 0px;
    /* background: linear-gradient(to right, green 50%, #ccc 50%); */

}

.Range1 {
    width: 300px;
    height: 4px;

    border-radius: 5px;
    appearance: none;
    outline: none;
    border: 0px;
    margin-bottom: 10px
}

.Range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.Range:hover::-webkit-slider-thumb,
.Range:active::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
    opacity: 1;
    backdrop-filter: blur(10px);
    border-bottom: 0.3px solid white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px #00000044;
}




.Range1::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.Range1:hover::-webkit-slider-thumb,
.Range1:active::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
    opacity: 1;
    backdrop-filter: blur(10px);
    border-bottom: 0.3px solid white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px #00000044;
}

.ImgIconPause {
    width: 20px;
    height: 20px;
    background-image: url(../../public/imgs/pause.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ImgIconPrev {
    margin-right: 5px;

    width: 20px;
    height: 20px;
    background-image: url(../../public/imgs/prev.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ImgIconNext {
    margin-left: 4px;
    width: 20px;
    height: 20px;
    background-image: url(../../public/imgs/next.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ImgIconRepeat {
    width: 25px;
    height: 25px;
    background-image: url(../../public/imgs/repeat.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ImgIconRepeatActive {
    width: 25px;
    height: 25px;
    background-image: url(../../public/imgs/repeatActive.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ImgIconShuffle {
    width: 20px;
    height: 20px;
    background-image: url(../../public/imgs/shuffle.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ImgIconShuffleActive {
    width: 20px;
    height: 20px;
    background-image: url(../../public/imgs/shuffleActive.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}