.MainPageBack {



    width: 100%;

    height: 550px;
    border-radius: 15px 15px 0px 0px;

    background: linear-gradient(180deg, #181818f5, #181818d4);
    backdrop-filter: blur(10px);
    color: white;
    display: flex;

    font-family: Poppins, sans-serif;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
    align-items: start;
    padding: 15px;
    gap: 5px;

    margin: 0px;   
    transition: all 1s;
    
}
.PlayListList
{
    /* background-color: aquamarine; */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}