.MainPageBack1 {


    height: 400px;


    background: linear-gradient(180deg, #181818f5, #181818d4);
    backdrop-filter: blur(10px);
    color: white;
    display: block;
    font-family: Poppins, sans-serif;

    box-sizing: border-box;
    overflow: auto;
    padding: 15px;
}

.MainPageBack1::-webkit-scrollbar {
    display: none;
}

.MainDivOrig {
    height: 700px;
}

.PlaylistInfo {
    overflow:hidden;

    height: 150px;
    border-radius: 15px 15px 0px 0px;

    background: linear-gradient(180deg, #181818f5, #181818d4);
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    font-family: Poppins, sans-serif;

    box-sizing: border-box;
    padding: 8px;
}
.AlbumImage
{
    width: 130px;
    border-radius: 7px;
}

.PlayListName22 {
    font-size: clamp(1.8rem,10vw,5rem);
    color: white;
    font-family: Poppins, sans-serif;
    margin: 5px;
    white-space: nowrap;
}

.PlayListAuthor22 {
    font-size: 12px;
    color: #9a9a9a;
    font-family: Poppins, sans-serif;
    margin: 5px;
}